#contenedorPrincipal {
background-color: #920095;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 980px;
margin: auto;
margin-top: 10px;
padding-top: 10px;
}
#headerPrincipal  {
height: 100px;
padding-top: 10px;
}
#logo {
padding-top: 20px;
background-image: url('_/img/logo.png');
}
#headerDer  {

}
#menuUser  {
position: relative;
}
#menuNav  {

}
#contenedorHome {
background-color: #ecedef;
width: 960px;
margin-left: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding-top: 10px;
margin-top: 10px;
}
#titulosWidget {
	margin-left: 10px;
}
#bgNuevo {
background: #ecedef;	
}
#tumbHome {
	margin-left: 0px;
}
#infoPostH {
	margin-left: -30px;
	width: 320px;
}
