#contenedorPrincipal {
background-color: #6E6E6E;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 980px;
margin: auto;
margin-top: 10px;
padding-top: 10px;
}
#headerPrincipal  {
height: 100px;
padding-top: 10px;
}
#logo {
padding-top: 0px;
position: relative;
top: 0px;
height: 90px;
width: 250px;
}
#headerDer  {
position: relative;
width: 670px;
}
#menuUser  {
margin-top: 10px;
margin-bottom: -10px;
}
#linkMenuUser {
	color: #2E2E2E;
}
#menuUserColor {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;	
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#5BC0DE), to(#339BB9));
background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
background-image: -ms-linear-gradient(top, #5BC0DE, #339BB9);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5BC0DE), color-stop(100%, #339BB9));
background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
background-image: linear-gradient(top, #5BC0DE, #339BB9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5BC0DE', endColorstr='#339BB9', GradientType=0);
}
#menuNav  {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
#contenedorHome {
background-color: #ecedef;
width: 960px;
margin-left: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding-top: 10px;
margin-top: 10px;
}
#titulosWidget {
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
width: 440px;
margin: 0px 0px 0px -10px;
padding-left: 10px;
}
#bgNuevo {
background: #ecedef;	
}
#tumbHome {
margin: 10px 0px 0px 10px;
width: 101px;
height: 135px;
}
#infoPostH {
margin: 9px 0px 10px 7px;
width: 330px;
}
#postHome{
width: 450px;
margin-left: -10px;
border-top: 2px solid #fff;
border-bottom: 1px solid #ccc;
}
#unete{
height: 230px;
background-color: #D8D8D8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-left: -30px;
}
.widgetBloqueHome {
	width: 480px;
	margin-left: -30px;	
}
#unete h3{
text-align: center;
}
#titulosWidgetSidebar{
text-align: center;
}
.botonessocial{
height:30px;
padding: 0px 5px;
margin-top:10px;
}
.botonfb{
margin-left:10px;
float:left;
background-color:navy;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color:white;
}
.botontw{
float:right;
width:140px;
margin-right:10px;
}
.botonpublicar a{
margin: 5px 60px;
}
#publi1lat{
position:relative;
left:-15px;
top:5px;
}
.btn-large {
width:150px;
height:25px;
}
#destacados{
height:280px;
background-color: #D8D8D8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:10px;
}
#destacados h3{
text-align: center; 
display:block; 
margin:0px;}
#hoy{
height:270px;
background-color:rgb(249,249,249);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position:relative;
left:5px;
}
#historia{
height:270px;
background-color:rgb(249,249,249);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position:relative;
right:5px;
}
#gridwidgets{
margin:0px;
}
#comentarios{
height:210px;
width: 305px;
margin-left: -30px;
background-color: #D8D8D8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:10px;
}
#comdestac p{
height:45px;
border-top-style:solid;
-border-bottom-style:solid;
border-color: rgb(206,209,215);
border-width:2px;
margin-right:5px;
margin-left:5px;
width:300px;
}
#gridwidgets{
width:480px;
margin-bottom:10px;
}
#widgetsside{
padding:0px;
width:295px;
}
#adsidelong{
margin:0px;
padding:0px;
width:160px;
margin-left:-12px;
margin-top:10px;
}
#sobrenos{
height:200px;
width: 305px;
margin-left: -30px;
background-color: #D8D8D8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:10px;
}
#sobrenos p{
padding:5px;
margin:5px 2px;
}
#log{
position:relative; 
left:75px;
}
#datosPost {
width: 50px;
}
#datosPostFecha {
	width: 80px;
}
#titulosWidgetSidebar {
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#EE5F5B), to(#C43C35));
background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
background-image: -ms-linear-gradient(top, #EE5F5B, #C43C35);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EE5F5B), color-stop(100%, #C43C35));
background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
background-image: linear-gradient(top, #EE5F5B, #C43C35);
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: #fff;
font-size: 16px;
text-shadow: 2px 1px 1px #636363;
}
#tituloPostHome {
	line-height: 20px;
margin-bottom: 5px;
margin-top: 10px;
}
